node_modules/
build/
dist/
lib/
docs/lockup-ui/
.DS_Store
*~
.idea
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log
!js/packages/metaplex/src/fonts/fonts.css
!js/packages/metaplex/src/utils/globals.css
!web2/**/*.css
target
.env
.vscode
bin
config.json
node_modules
package-lock.json
hfuzz_target
hfuzz_workspace
**/*.so
!js/packages/m2/deps/*.so
**/.DS_Store
.cache
/test-ledger
.history
i18n.csv
js/.yarn
js/.yarnrc
*.tsbuildinfo
keypair.json
*.rdb
.turbo
./tags
*Dockerfile
coverage/
version.json

